* {
    font-family: Roboto;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    height: 70px;
}
.header div {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 200px;
}
.header ul {
    display: flex;
    gap: 16px;
    margin-right: 200px;
}
.header ul li a{
    color: white;
    font-size: 18px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    text-decoration: none;
}

.one {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    height: 500px;
    justify-content: space-between;
    gap: 16px;
}
.one .left {
    margin-left: 200px;
    color: white;
}
.one .left .head{
    font-size: 48px;
    font-weight: bolder;
}
.one .left .body {
    font-size: 18px;
    color: gainsboro;
}
.one .left button {
    color: white;
    background-color: #3882F6;
    margin-top: 8px;
    border: none;
}
button {
    height: 40px;
    width: 120px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
}
.one .right {
    background-color: gray;
    height: 300px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    color: white;
}

.two {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.two div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two div div {
    font-size: 36px;
    font-weight: bolder;
}
.two div ul {
    display: flex;
    margin-top: 64px;
    gap: 64px;
}
.two div ul li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 200px;
    align-items: center;
    text-align: center;
    color: darkslategray;
}
.two div ul li div {
    height: 150px;
    width: 150px;
    border: solid 8px lightskyblue;
    border-radius: 16px;
}

.three {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three .top {
    font-size: 36px;
    font-style: italic;
    width: 700px;
    color: #1f2937;
}
.three .bottom {
    text-align: right;
    margin-right: 8px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 16px;
}

.four {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.four .container {
    background-color: #3882F6;
    border-radius: 16px;
    width: 1000px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four .container .center {
   width: 800px;
   display: flex;
   justify-content: space-between;
   color: white;
}
.four .container .center div .top {
    font-size: 24px;
    font-weight: bold;
}
.four .container .center button {
    background-color: transparent;
    border-color: white;
    border-style: solid;
    color: white;
}

.footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}